# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Facebook photos already uploaded to Supabase storage
import/fb-photos/
import/fb-photos-2/
import/fb-photos-3/
import/fb-photos-4/
import/fb-photos-5/
